body{
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.formWrapper{
    background-image: linear-gradient(#8b021d, #d6032d);
    width: 350px;
    height: 360px;
    padding: 20px 30px;
    border: 2px solid black;
    form{
        color: white;
        input{
            margin: 10px 0px;
        }
        .submitWrapper{
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            .btn{
                width: 40%;
                padding: 10px 0px;
                background-color: black;
                color: white;
            }
        }
        textarea{
            margin-top: 15px;
        }
    }
    .saludo{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}